[submodule "swam"]
	path = swam
	url = https://github.com/satabin/swam
[submodule "souper"]
	path = souper
	url = https://github.com/KTH/souper
[submodule "wabt"]
	path = wabt
	url = https://github.com/WebAssembly/wabt
[submodule "STRAC"]
	path = STRAC
	url = https://github.com/KTH/STRAC
[submodule "llvm"]
	path = llvm
	url = https://github.com/Jacarte/llvm-project.git
	branch = master